<h3>Overview</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      When you're writing code, it's nice to have a text
      editor that is optimized for writing code, with features
      like automatic color-coding of key words.
      The default text editor on Mac OS X and Linux is usually set to Vim,
      which is not famous for being intuitive.
      if you accidentally find yourself stuck in it,
      try typing the escape key,
      followed by ':q!' (colon, lower-case 'q', exclamation mark),
      then hitting Return
      to return to the shell.
    </p>

    <h4>Git</h4>
    <p>
      Git is a state-of-the-art version control system. It
      lets you track who made changes to what when and has
      options for easily updating a shared or public version of
      your code on <a href="https://github.com/">github.com</a>.
    </p>

    <h4>ROOT</h4>
    <p>
      <a href="http://root.cern.ch">ROOT</a> is ubiquitous in HEP for data analysis and presentation.
      It is available for a variety of operating systems, and is included in the standard repositories
      for many Linux distributions. We will use version 5.34, but newer versions should also be OK.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
      Python is becoming very popular in scientific computing,
      and it's a great language for teaching general programming concepts due to its easy-to-read syntax.
      We teach with Python 2 (version 2.6 or 2.7) since it is still more widely used than Python 3.
      Installing all the scientific packages for Python individually can be a bit difficult,
      depending on your Linux distribution, but all-in-one installers are available.
    </p>
    <p>
      For this workshop you will need two specialised Python packages:
      <a href="http://root.cern.ch/drupal/content/pyroot">PyROOT</a> for access to ROOT and 
      <a href="https://nose.readthedocs.org/en/latest/">Nose</a> for unit testing.
      Once you have installed Python and ROOT, check that you have these packages installed by
      trying to import them: type the following at the Python prompt
      <pre>
>>> import ROOT
>>> import nose
      </pre>
      If you see no errors then the packages are installed. If you do see errors, and are
      unable to install these packages, let us know as soon as possible so we can help you
      get set up before the workshop. The installation instructions below are not comprehensive!
    </p>
  </div>
</div>

<h3>Windows</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Python</h4>
    <ul>
      <li>
        Download and install  <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
      </li>
      <li>
        Use all of the defaults for installation
        <em>except</em>
        make sure to check <strong>Make Anaconda the default Python</strong>.
      </li>
    </ul>
    <h4>Git Bash</h4>
    <p>
      Install Git for Windows by download and running
      <a href="http://msysgit.github.io/">the installer</a>.
      This will provide you with both Git and Bash in the Git Bash program.
    </p>
    <h4>Software Carpentry Installer</h4>
    <p>This installer requires an active internet connection</p>
    <p>After installing Python and Git Bash:</p>
    <ul>
      <li>
        Download the <a href="{{site.windows_installer_path}}">installer</a>.
      </li>
      <li>
        If the file opens directly in the browser select <strong>File&rarr;Save Page As</strong>
        to download it to your computer.
      </li>
      <li>
        Double click on the file to run it.
      </li>
    </ul>
  </div>
  <div class="span6">
    <h4>Editor</h4>
    <p>
      <code>nano</code> is the editor installed by the Software Carpentry Installer,
      it is a basic editor integrated into the lesson material.
    </p>
    <p>
      <a href="http://notepad-plus-plus.org/">Notepad++</a> is a
      popular free code editor for Windows.
      Be aware that you must add its installation directory to your system path
      in order to launch it from the command line
      (or have other tools like Git launch it for you).
      Please ask your instructor to help you do this.
    </p>
  </div>
</div>

<h3>Mac OS X</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      We recommend
      <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
      <a href="http://www.sublimetext.com/">Sublime Text</a>.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
    <h4>Git</h4>
    <p>

      <strong>For OS X 10.8 and higher</strong>, install Git for Mac by downloading and running
	  <a href="http://git-scm.com/downloads">the installer</a>.
      <strong>For older versions of OS X (10.5-10.7)</strong> use the most recent available
      installer for your OS <a href="https://code.google.com/p/git-osx-installer/downloads/list">available
      here</a>. Use the Leopard installer for 10.5 and the Snow Leopard
      installer for 10.6-10.7.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <ul>
      <li>
        Download and install  <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
      </li>
      <li>
        Use all of the defaults for installation
        <em>except</em>
        make sure to check <strong>Make Anaconda the default Python</strong>.
      </li>
      <li>
	<strong>Troubleshooting:</strong> If you get the following error message
	"<code>ValueError unknown locale: UTF-8</code>", see instructions on how
	to fix it
	<a href="http://conda.pydata.org/docs/troubleshooting.html#issue-valueerror-unknown-locale-utf-8-on-mac-os-x">here</a>.
      </li>
    </ul>
  </div>
</div>

<h3>Linux</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Git</h4>
    <p>
      If Git is not already available on your machine you can try
      to install it via your distro's package manager
      (e.g. <code>apt-get</code> or <code>yum</code>).
    </p>
    <h4>Editor</h4>
    <p>
      <a href="http://kate-editor.org/">Kate</a> is one option for Linux users.
      Alternatives include <code>emacs</code>, <code>nano</code>, 
      <code>gedit</code> and <code>vim</code>.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
      If possible you should use your package manager (normally <code>yum</code> or <code>apt-get</code>
      to install Python along with some other useful related packages, e.g.
      <pre>
yum install python python-ipython python-nose root-python
      </pre>
    </p>
    <p>
      An alternative is the all-in-one scientific Python installer
      <a href="http://continuum.io/downloads.html">Anaconda</a>.
    </p>
    <ol>
      <li>
        Download the installer that matches your operating
        system and save it in your home folder.
      </li>
      <li>
        Open a terminal window.
      </li>
      <li>
        Type <pre>bash Anaconda-</pre> and then press
        tab. The name of the file you just downloaded should
        appear.
      </li>
      <li>
        Press enter. You will follow the text-only
        prompts. When there is a colon at the bottom of the
        screen press the down arrow to move down through the
        text. Type <code>yes</code> and press enter to approve
        the license. Press enter to approve the default
        location for the files. Type <code>yes</code> and
        press enter to prepend Anaconda to
        your <code>PATH</code> (this makes the Anaconda
        distribution the default Python).
      </li>
    </ol>
  </div>
</div>

